<div class="modular-row brag">
 {{ content }}
{% if page.header.video %}
    <div class="tablets">
        {% for video in page.header.video %}
            <div class="tablet">
                    <div class='screen'><div class="screen-content">
                      <div class="video-container">
                        <iframe src="//www.youtube-nocookie.com/embed/{{ video.youtube_id }}?autohide=1&rel=0&showinfo=0vq=hd720" width="480" height="270" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                    </div>
                  </div>
                <h4>{{ video.title }}</h4>
            </div>
        {% endfor %}
    </div>
{% endif %}


<div class="callout-line"></div>
</div>

{% for portfolio in page.header.portfolio %}
    <div class="portfolio-modal modal" id="portfolioModal{{ portfolio.modalid }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></div>
            <div class="modal-body">
                <h1>{{ portfolio.title }}</h1>
                <a href="{{ portfolio.url }}">
                    <img src="{{ page.media[portfolio.image].url }}" class="img-responsive img-centered" alt="{{ portfolio.alt }}">
                </a>
                <p>{{ portfolio.desc|markdown }}</p>
                <ul class="client-details">
                    <li>{{ portfolio.date }}</li>
                </ul>
                <a href="{{ portfolio.url }}" type="button" class="button" ><i class="fa fa-ellipsis-h"></i> Read More</a>
                <button type="button" class="button-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
{% endfor %}
