<div class="modular-row brag">
 {{ content }}
{% if page.header.video %}
    <div class="tablets">
        {% for video in page.header.video %}
            <div class="tablet">
                    <div class='screen'><div class="screen-content">
                      <div class="video-container">
                        <iframe src="//www.youtube-nocookie.com/embed/{{ video.youtube_id }}?autohide=1&rel=0&showinfo=0vq=hd720" width="480" height="270" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                    </div>
                  </div>
                <h4>{% if video.link %}<a href="{{ video.link }}">{% endif %}{% if video.icon %}<i class="fa fa-{{ video.icon }}"></i> {% endif %}{{ video.title }}</h4>
            </div>
        {% endfor %}
    </div>
{% endif %}


<div class="callout-line"></div>
</div>
