<h2>{{ page.title }}</h2>
<h3>{{ page.header.inspirational_women.event_date|date("F Y") }}</h3>
<ul class="image-collage">
  {% for image in page.media.images %}
  <li class="g-block">
      <div class="image-surround">
          {{ image.lightbox(1024,768).cropZoom(200,200).thumbnail.html }}
      </div>
      {% if image.meta.title %}
      <div class="image-info">
          <h2>{{ image.meta.title }}</h2>
          {% if image.meta.description %}
          <p>{{ image.meta.description }}</p>
          {% endif %}
      </div>
      {% endif %}
  </li>
  {% endfor %}
</ul>
