
{{ content }}

<div class="panel-group" id="training_paths_accordion" role="tablist" aria-multiselectable="true">
  {% for pathway in page.collection %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_{{ pathway.slug }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#training_paths_accordion" href="#collapse_{{ pathway.slug }}" aria-expanded="true" aria-controls="collapse_{{ pathway.slug }}">
          {{ pathway.header.title }}
        </a>
      </h4>
    </div>
    <div id="collapse_{{ pathway.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ pathway.slug }}">
      <div class="panel-body">
        {{ pathway.content }}

        {% for course in taxonomy.findTaxonomy( { 'category': 'courses', 'training_paths': pathway.slug } ).order('folder', 'asc')  %}
        <div>Course title: {{ course.title }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>
