
<div class="training_path_content">
{{ content }}
</div>

<div class="panel-group" id="training_paths_accordion" role="tablist" aria-multiselectable="true">
  {% for pathway in page.collection %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_{{ pathway.slug }}">
      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#training_paths_accordion" href="#collapse_{{ pathway.slug }}" aria-expanded="true" aria-controls="collapse_{{ pathway.slug }}">
        <h4 class="panel-title">
          {{ pathway.header.title }}
        </h4>
      </a>
    </div>
    <div id="collapse_{{ pathway.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ pathway.slug }}">
      <div class="panel-body">
        <div class="training-path-summary g-grid pure-g-r">
          <div class="training-path-description g-block pure-u-1-2">
            {{ pathway.content }}
          </div>
          <div class="training-path-list g-block size-1-2 pure-u-1-2">
            <h3>Training Path Courses</h3>
            <ol>
              {% for course in taxonomy.findTaxonomy( { 'category': 'courses', 'training_paths': pathway.slug } ).order('folder', 'asc')  %}
                <li><a href="#{{ pathway.slug }}-{{ course.slug }}">{{ course.title }}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>

        {% for course in taxonomy.findTaxonomy( { 'category': 'courses', 'training_paths': pathway.slug } ).order('folder', 'asc')  %}
        <div class="training-paths-course" id="{{ pathway.slug }}-{{ course.slug }}">
          <h5><a href="{{ course.link }}">{{ course.title }}</a></h5>
          <p>{{ course.summary }}</p>
          <a href="{{ course.link }}" class="button button-small"><i class="fa fa-book" aria-hidden="true"></i> Read more</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>
